## Importando as bibliotecas necessárias e os conjuntos de dados. ##

In [1]:
import pandas as pd
import numpy as np
import sklearn

df_train = pd.read_csv('train.csv', sep = ',', encoding = 'UTF8' )
df_test = pd.read_csv('test.csv', sep = ',', encoding = 'UTF8')

## Verificando as colunas do conjunto de daddos df_test ##

In [2]:
df_test.columns

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'],
      dtype='object')

## Verificando a correlação. ##

In [3]:
df_train.corr().round(2)

,Unnamed: 0,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
Unnamed: 0,1.00,NaN,-0.01,-0.01,-0.01,0.00,0.01,-0.01,-0.00,-0.00,...,0.00,0.02,0.00,-0.01,0.00,-0.00,0.00,0.00,-0.01,-0.03
NU_ANO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CO_MUNICIPIO_RESIDENCIA,-0.01,NaN,1.00,1.00,-0.00,0.02,-0.24,0.01,0.87,0.87,...,0.00,-0.03,-0.05,-0.05,-0.04,-0.01,-0.03,-0.09,-0.08,-0.03
CO_UF_RESIDENCIA,-0.01,NaN,1.00,1.00,-0.00,0.02,-0.23,0.01,0.86,0.86,...,0.00,-0.03,-0.05,-0.05,-0.04,-0.01,-0.03,-0.09,-0.08,-0.03
NU_IDADE,-0.01,NaN,-0.00,-0.00,1.00,0.53,0.01,-0.02,-0.03,-0.03,...,-0.04,0.03,-0.03,0.01,0.02,-0.00,-0.04,-0.07,-0.01,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q037,-0.00,NaN,-0.01,-0.01,-0.00,0.00,0.09,0.03,-0.02,-0.02,...,0.22,0.23,0.25,0.20,0.39,1.00,0.50,0.25,0.27,0.19
Q038,0.00,NaN,-0.03,-0.03,-0.04,-0.01,0.07,0.02,-0.04,-0.04,...,0.16,0.22,0.22,0.14,0.38,0.50,1.00,0.37,0.26,0.22
Q039,0.00,NaN,-0.09,-0.09,-0.07,-0.07,0.05,0.01,-0.10,-0.10,...,0.14,0.21,0.19,0.23,0.27,0.25,0.37,1.00,0.31,0.26
Q040,-0.01,NaN,-0.08,-0.08,-0.01,-0.02,0.05,0.01,-0.08,-0.08,...,0.22,0.18,0.24,0.18,0.18,0.27,0.26,0.31,1.00,0.31
Q041,-0.03,NaN,-0.03,-0.03,0.16,0.11,0.02,0.01,-0.04,-0.04,...,0.23,0.21,0.15,0.11,0.21,0.19,0.22,0.26,0.31,1.00

## Tratando as Tabelas. ##

In [14]:
target = 'NU_NOTA_MT'
print('\nTrain and Test Datasets have the same columns?:',
      df_train.drop(target,axis = 1).columns.tolist() == df_test.columns.tolist())
print("\nVariables not in test but in train : ", 
      set(df_train.drop(target,axis = 1).columns).difference(set(df_test.columns)))

dif = list(set(df_train.drop(target,axis = 1).columns).difference(set(df_test.columns)))

df_train.drop(dif,axis = 1,inplace = True)

Train and Test Datasets have the same columns?: True

Variables not in test but in train :  set()

In [15]:
from sklearn.ensemble import RandomForestRegressor

In [16]:
modelo = RandomForestRegressor(n_estimators = 9000, n_jobs = -1, random_state = 0)

In [17]:
variaveis = ['NU_NOTA_CN', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5']

In [18]:
X = df_train[variaveis]
y = df_train['NU_NOTA_MT']

In [19]:
X = X.fillna(-1)

In [20]:
df_train['NU_NOTA_MT'].isnull().sum()

0

In [21]:
df_train["NU_NOTA_MT"].fillna(-1, inplace = True)

## Treinando o Modelo. ##

In [23]:
modelo.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=9000,
                      n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

## Aplicando o modelo de teste. ##

In [24]:
X_prev = df_test[variaveis]
X_prev = X_prev.fillna(-1)

In [25]:
X_prev.head()

,NU_NOTA_CN,NU_NOTA_LC,NU_NOTA_CH,NU_NOTA_REDACAO,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5
0,464.8,431.8,443.5,420.0,80.0,80.0,100.0,40.0
1,391.1,548.0,491.1,580.0,120.0,120.0,120.0,100.0
2,595.9,613.6,622.7,320.0,40.0,40.0,80.0,80.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,592.9,571.4,492.6,320.0,80.0,60.0,80.0,0.0

In [27]:
m = modelo.predict(X_prev)
m

array([423.47943333, 439.60361111, 590.36241111, ..., 682.02586667,
       483.67744444,  -1.        ])

In [29]:
sub = pd.Series(m, index = df_test['NU_INSCRICAO'], name = 'NU_NOTA_MT')
sub.shape

(4576,)

In [31]:
sub.to_csv("answer.csv", header = True)